body {
    background-color: #525974;
    font-weight: bold;
    color: rgb(97, 92, 92);
}

.Page1 form {
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(55, 53, 53);
    width: 98%;
    max-width: 450px;
}

h1 {
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field input, .form-field select {
    border: 1px solid silver;
    border-radius: 4px;
    height: 30px;
    margin: 10px 0;
}

.error-msg {
    color: red;
}